* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

label {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --break-point-1: 992px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 10px;
}

body {
    height: auto;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}

main {
    width: 100%;
    height: auto;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top {}

@media screen and (max-width: 992px) {
    main {
        padding-top: 64px;
    }
}


footer {
    width: 100%;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.bg-wg {
    background-color: #F2F2F2;
}

.bg-g {
    background-color: #444444;
}

.bg-dg {
    background-color: #313131;
}

.bg-dgb {
    background-color: #222222;
}



















.w-100 {
    width: 100%;
}

.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

.card {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 4, 10, 0.15);
    overflow: hidden;
}

/* .card img {
    width: 100%;
} */
.run-group-father-container {
    width: 100%;
}

.run-group-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 240px;
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.run-group {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    animation: 32s run linear infinite;
}

.run-group img {
    height: 100%;
    width: 300px;
    object-fit: contain;
    object-position: center;
    padding: 0 10px;
}

.run-group:nth-child(2) {
    animation-delay: -8s;
}

.run-group:nth-child(3) {
    animation-delay: -16s;
}

.run-group:nth-child(4) {
    animation-delay: -24s;
}

@keyframes run {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#go-top {
    position: fixed;
    z-index: 1000000;
    bottom: 0;
    right: 0px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    color: black;
}

#go-top img {
    height: 100%;
    width: 100%;
}

#go-top:hover {
    background-color: rgb(172, 172, 172);
}

.star-icon {
    height: 64px;
    margin-bottom: 60px;
}

.star-icon svg {
    height: 100%;
    margin-right: 20px;
}

@media screen and (max-width: 850px) {

    #go-top {
        height: 60px;
        width: 60px;
    }

    .star-icon {
        height: 32px;
        margin-bottom: 32px;
    }

    .star-icon svg {
        width: 32px;
        margin-right: 20px;
    }

    .run-group-container {
        position: relative;
        padding-top: 80px;
        padding-bottom: 160px;
        height: 60px;
        width: 100%;
        overflow: hidden;
    }

    .run-group {
        height: 60px;
    }

    .run-group img {
        height: 100%;
        width: 150px;
        object-fit: contain;
        object-position: center;
        padding: 0 10px;
    }


}