.fm-sans {
  font-family: "Noto Sans CJK TC", "Source Han Sans TC", sans-serif;
}

.title-font {
  font-size: 32px;
  font-weight: lighter;
  color: #c8e7e9;
  letter-spacing: 5px;
}

.big-font {
  font-weight: 900;
  font-size: 80px;
  color: #ffffff;
  letter-spacing: 20px;
}

.small-font {
  font-size: 60px;
  font-weight: 300;
  color: #c8e7e9;
  letter-spacing: 10px;
}
.small-font + span {
  font-weight: 500;
  font-size: 45px;
  color: #c8e7e9;
  letter-spacing: 5px;
}

.content-font {
  font-weight: 200;
  color: #ffffff;
}

.decoraete-font {
  font-size: 140px;
  letter-spacing: 30px;
  -webkit-text-stroke: 1px #5ac9fb;
  color: transparent;
}

@media screen and (max-width: 1400px) {
  .big-font {
    font-size: 64px;
  }
  .decoraete-font {
    font-size: 70px;
  }
}

@media screen and (max-width: 850px) {
  .title-font {
    letter-spacing: 3px;
  }
  .big-font {
    font-size: 32px;
    letter-spacing: 5px;
  }
  .small-font {
    font-size: 20px;
    letter-spacing: 5px;
  }
  .small-font + span {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .content-font {
    font-size: 14px;
    letter-spacing: 2.8px;
  }
  .decoraete-font {
    font-size: 52px;
    letter-spacing: 12px;
  }
}

.news-font-1 {
  color: #5ac9fb;
  letter-spacing: 5px;
  font-weight: 400;
}
.news-font-2 {
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 100;
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 850px) {
  .news-font-1 {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .news-font-2 {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fs-32 {
  font-size: 32px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-5 {
  letter-spacing: 5px;
}

.ls-7 {
  letter-spacing: 7px;
}

@media screen and (max-width: 850px) {
  .ls-2 {
    letter-spacing: 1px;
  }

  .ls-4 {
    letter-spacing: 2px;
  }

  .ls-5 {
    letter-spacing: 3px;
  }

  .ls-7 {
    letter-spacing: 4px;
  }
}
