.fm-serif {
    font-family: 'Noto Serif TC', 'Source Han Serif TC', serif;
}

.fm-sans {
    font-family: 'Noto Sans CJK TC', 'Source Han Sans TC', sans-serif;
}

.fw-lighter {
    font-weight: lighter;
}

.fw-light {
    font-weight: light;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-45 {
    font-size: 45px;
}

.fs-52 {
    font-size: 52px;
}

.fs-60 {
    font-size: 60px;
}

.fs-80 {
    font-size: 80px;
}

.fs-100 {
    font-size: 100px;
}

.fs-140 {
    font-size: 140px;
}

.tw {
    color: #FFFFFF;
}

.t-black {
    color: black;
}

.tb-1 {
    color: #C8E7E9;
}

.tb-2 {
    color: #5AC9FB;
}

.tb-3 {
    color: #293ECD;
}

.t-stroke-b-1 {
    -webkit-text-stroke: 2px #5AC9FB;
    color: transparent;
}

.t-stroke-b-1-1 {
    -webkit-text-stroke: 1px #5AC9FB;
    color: transparent;
}

.t-stroke-b-2 {
    -webkit-text-stroke: 2px #293ECD;
    color: transparent;
}

.t-stroke-b-2-1 {
    -webkit-text-stroke: 1px #293ECD;
    color: transparent;
}

.lh-1_5 {
    line-height: 1.5;
}

.lh-1_7 {
    line-height: 2;
}


.lw {}

.ls-2 {
    letter-spacing: 2px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.ls-7 {
    letter-spacing: 7px;
}

.ls-10 {
    letter-spacing: 10px;
}

.ls-17 {
    letter-spacing: 17px;
}

.ls-20 {
    letter-spacing: 20px;
}

.ls-30 {
    letter-spacing: 30px;
}

@media screen and (max-width: 850px) {
    .ls-2 {
        letter-spacing: 1px;
    }

    .ls-4 {
        letter-spacing: 2px;
    }

    .ls-5 {
        letter-spacing: 3px;
    }

    .ls-7 {
        letter-spacing: 4px;
    }

    .ls-10 {
        letter-spacing: 5px;
    }

    .ls-17 {
        letter-spacing: 9px;
    }

    .ls-20 {
        letter-spacing: 13px;
    }

    .ls-30 {
        letter-spacing: 20px;
    }
}