footer {
    width: 100%;
    padding: 100px 12px;
}

#ft-section-1 {
    width: 100%;
    max-width: 1703px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 60px;
}

#ft-section-1 img {
    height: 75px;
    margin-bottom: 32px;
}

#ft-section-1 div:nth-child(1) ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#ft-section-1 div:nth-child(2)>ul {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 120px;
}

#ft-section-1 div:nth-child(2)>ul li:nth-child(2) ul {
    padding-top: 20px;
}


#ft-section-1 svg {
    height: 28px;
    width: 28px;
    margin-right: 8px;
}

#ft-section-2 p {
    margin-top: 20px;
    text-align: center;
}


@media screen and (max-width: 1024px) {
    footer {
        width: 100%;
        padding: 40px 12px;
    }

    footer .fs-20 {
        font-size: 14px;
    }


    #ft-section-1 img {
        height: 52px;
        margin-bottom: 32px;
    }

    #ft-section-1 div:nth-child(2) {
        display: none;
    }

    #ft-section-1 {
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    footer {
        width: 100%;
        padding: 60px 60px;
    }

    footer p {
        font-size: 20px;
    }

    #ft-section-1 div:nth-child(2)>ul {
        gap: 52px;
    }
}