/* 大架構修改 */
.container {
  padding: 110px 12px;
}
.section-1 {
  background-color: #222222;
}
.section-2 {
  background-color: #f2f2f2;
}

#m-section-b {
  gap: 60px;
}

#m-section-c {
  gap: 80px;
}

.main-Leaflet {
  padding-bottom: 80px;
}

.slogan {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 36px 12px;
  }

  #m-section-b {
    gap: 32px;
    padding: 40px 0px 0px;
  }

  #m-section-c {
    gap: 32px;
  }

  .main-Leaflet {
    padding-bottom: 32px;
  }

  .slogan {
    padding-top: 32px;
  }
}

/* 麵包屑 */
.breadcrumb-container {
  padding-bottom: 80px;
}
.breadcrumb-container .breadcrumb * {
  font-weight: 500;
  letter-spacing: 5px;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .breadcrumb-container {
    padding-bottom: 32px;
  }
  .breadcrumb-container .breadcrumb * {
    letter-spacing: 3px;
  }
}

/* 文字樣式 */
.decoraete-font-b {
  font-weight: 900;
  font-size: 80px;
  -webkit-text-stroke: 2px #5ac9fb;
  color: transparent;
  letter-spacing: 17px;
  padding-bottom: 12px;
}

.big-font-b {
  color: #ffffff;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 17px;
}
.title-font-b {
  font-weight: 700;
  font-size: 52px;
  color: #5ac9fb;
  letter-spacing: 10px;
}
.title-font-c {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
}
.content-font-b {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 5px;
  padding-top: 80px;
}
.content-font-c {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 5px;
}

@media screen and (max-width: 1250px) {
  .decoraete-font-b {
    -webkit-text-stroke-width: 1px;
  }
  .big-font-b {
    font-size: 40px;
  }
  .title-font-b {
    font-size: 40px;
  }
  .title-font-c {
    font-size: 20px;
  }
  .content-font-b {
    font-size: 14px;
  }
  .content-font-c {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .decoraete-font-b {
    font-size: 32px;
  }
  .big-font-b {
    font-size: 24px;
    letter-spacing: 9px;
  }
  .title-font-b {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .title-font-c {
    font-size: 20px;
    letter-spacing: 4px;
  }
  .content-font-b {
    letter-spacing: 3px;
    padding-top: 32px;
  }
  .content-font-c {
    letter-spacing: 3px;
  }
}

/* 圖片 */
.show-image {
  width: 100%;
  height: 640px;
  object-fit: cover;
  object-position: center;
  padding-top: 80px;
}

@media screen and (max-width: 850px) {
  .show-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    padding-top: 32px;
  }
  .decoraete-font-b {
    letter-spacing: 9px;
  }
}

@media screen and (max-width: 480px) {
  .show-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}
